.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	a {
		padding: 1em;
		text-transform: uppercase;
		font-weight: 500;
		text-decoration: none;
		color: darkgrey;
		svg {
			width: 1em;
		}	
	}
	img {
		width: 60px;
	}
}